<a href="https://colab.research.google.com/github/diksha139/105StudentActivity/blob/main/Week1Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
number= int(input("Enter any number: "))
if(number % 2 == 0):
  print("Number is Even ")
else:
  print("Number is odd ")

Enter any number: 8
Number is Even

In [5]:
c= int(input("Enter temperature in centigrade: "))
f= (9/5)*c + 32
print("Temperature in farenheit is : ",f)

Enter temperature in centigrade: 27
Temperature in farenheit is :  80.6

In [7]:
import math
a= int(input("Enter 1st side of triangle: "))
b= int(input("Enter 2nd side of triangle: "))
c= int(input("Enter 3rd side of triangle: "))

s = (a+b+c)/2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))

print(" Area of triangle is : ",area)

Enter 1st side of triangle: 3
Enter 2nd side of triangle: 4
Enter 3rd side of triangle: 5
 Area of triangle is :  6.0

In [17]:
list1=[]
sum=0
while True:
  ch= input("do you want to enter more numbers to a list?(Y-Yes, N-No) ")
  if ch == 'Y':
    num=int(input("Enter the number: "))

    list1.append(num)
    continue
  else:
    break
print(list1)
length = len(list1)

for num in list1:
  sum = sum + num
avg = sum/length

print("average of the list of numbers is : ",avg)

do you want to enter more numbers to a list?(Y-Yes, N-No) Y
Enter the number: 3
do you want to enter more numbers to a list?(Y-Yes, N-No) Y
Enter the number: 4
do you want to enter more numbers to a list?(Y-Yes, N-No) Y
Enter the number: 5
do you want to enter more numbers to a list?(Y-Yes, N-No) Y
Enter the number: 2
do you want to enter more numbers to a list?(Y-Yes, N-No) Y
Enter the number: 1
do you want to enter more numbers to a list?(Y-Yes, N-No) n
[3, 4, 5, 2, 1]
average of the list of numbers is :  3.0

In [18]:
import math
radius= int(input("Enter the radius of a circle: "))
circum = 2*(math.pi)*radius
area = (math.pi)*radius*radius

print("Circumference is: ",circum)
print("Area is : ",area)

Enter the radius of a circle: 5
Circumference is:  31.41592653589793
Area is :  78.53981633974483

In [21]:
list1 = []

num = int(input("Enter number of elements in list: "))
 
for i in range(0, num):
    ele = int(input("Enter elements: "))
    list1.append(ele)

def myMax(list1):
 
   
    max = list1[0]

    for x in list1:
        if x > max:
            max = x
 
    return max
 
 

print("Largest element is:", myMax(list1))

Enter number of elements in list: 5
Enter elements: 2
Enter elements: 34
Enter elements: 9
Enter elements: 76
Enter elements: 54
Largest element is: 76

In [22]:
def check(s1, s2):
     
    # the sorted strings are checked
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")        
         
# driver code 
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

In [23]:
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact *= n
            n -= 1
        return fact
 
# Driver Code
num = 5;
print("Factorial of",num,"is",
factorial(num))

Factorial of 5 is 120

In [24]:
def series(n):
    sum = 0
    for i in range(1, n+1):
        term = ''
        for j in range(1, i+1):
            term = term + '2'
        term = int(term)
        sum += term

    return sum
print(f'\nThe series: {series(5)}\n')

The series: 24690

In [25]:
print('*************************************************************')
print('THE STAR PATTERN\n')

for i in range(1,6):
    for j in range(i):
        print('* ', end = ' ')
    print('\n')    

for i in range(4,0,-1):
    for j in range(i):
        print('* ', end = ' ')
    print('\n')

*************************************************************
THE STAR PATTERN

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

Practice Problems week2

In [26]:
list1=[2,3,4,5,6,7,8]

size=len(list1)

temp= list1[0]
list1[0]=list1[size-1]
list1[size-1] = temp

print("New list after interchanging is: ",list1)

New list after interchanging is:  [8, 3, 4, 5, 6, 7, 2]

In [27]:
a=[18, 52, 23, 41, 32]

# smallest number
smallest = a[0] if a else None

# find smallest
for i in a:
	if i<smallest:
		smallest=i

print("Smallest element is: ", smallest)

Smallest element is:  18

In [29]:
n="This is a python language"
#splitting the words in a given string
s=n.split(" ")
for i in s:
  #checking the length of words
  if len(i)%2==0:
    print(i)

This
is
python
language

In [30]:
# Python3 code to demonstrate working of
# Remove nested records
# using isinstance() + enumerate() + loop

# initialize tuple
test_tup = (1, 5, 7, (4, 6), 10)

# printing original tuple
print("The original tuple : " + str(test_tup))

# Remove nested records
# using isinstance() + enumerate() + loop
res = tuple()
for count, ele in enumerate(test_tup):
	if not isinstance(ele, tuple):
		res = res + (ele, )

# printing result
print("Elements after removal of nested records : " + str(res))

The original tuple : (1, 5, 7, (4, 6), 10)
Elements after removal of nested records : (1, 5, 7, 10)

In [31]:
# Python3 code to demonstrate working of
# Remove nested records

# initialize tuple
test_tup = (1, 5, 7, (4, 6), 10)

# printing original tuple
print("The original tuple : " + str(test_tup))

# Remove nested records
res=[]
for i in test_tup:
	if not type(i) is tuple:
		res.append(i)
res=tuple(res)
# printing result
print("Elements after removal of nested records : " + str(res))

The original tuple : (1, 5, 7, (4, 6), 10)
Elements after removal of nested records : (1, 5, 7, 10)

In [32]:
random_list = ['A', 'A', 'B', 'C', 'B', 'D', 'D', 'A', 'B']
frequency = {}

# iterating over the list
for item in random_list:
   # checking the element in dictionary
   if item in frequency:
      # incrementing the counr
      frequency[item] += 1
   else:
      # initializing the count
      frequency[item] = 1

# printing the frequency
print(frequency)

{'A': 3, 'B': 3, 'C': 1, 'D': 2}

In [39]:
s1={1,9,1,9,4}
s2={2,5,6,7,8}
common= s1.intersection(s2)
if len(common)>=1:
  print("common element exists")
  print(common)
else:
  print("no common element ")

no common element

In [43]:
# remove duplicates in string

from collections import OrderedDict

def remove_duplicate(s):
   
    dup=""
    for i in s:
        if(i in dup):
            pass
        else:
            dup=dup+i
    print("After removing: ",dup)
    
s="stdsrdthw"
print(s)
remove_duplicate(s)

stdsrdthw
After removing:  stdrhw

In [45]:
# Python code to demonstrate
# To Sort and Reverse a String
# using list() + sort() + join()

# initializing string
test_string = "abcdefghijklmnop"

# printing original string
print("The original string : " + str(test_string))

# using list() + sort() + join
# To Sort and reverse a String
temp = list(test_string)
temp.sort(reverse = True)
res = "".join(temp)
	
# print result
print("String after reverse sorting : " + res)

The original string : abcdefghijklmnop
String after reverse sorting : ponmlkjihgfedcba

In [46]:
import datetime

Current_Date = datetime.datetime.today()
print ('Current Date: ' + str(Current_Date))

Previous_Date = datetime.datetime.today() - datetime.timedelta(days=1)
print ('Previous Date: ' + str(Previous_Date))

NextDay_Date = datetime.datetime.today() + datetime.timedelta(days=1)
print ('Next Date: ' + str(NextDay_Date))

Current Date: 2023-01-21 13:41:40.974406
Previous Date: 2023-01-20 13:41:40.976518
Next Date: 2023-01-22 13:41:40.977205

In [58]:
def mul(**kwargs):
  res=1
  for i in kwargs.values():
    res = res * i
  return res

mul(a=1,b=9,c=3,d=4)

108